<div class="new-restaurant-container">
<h2>New Restaurant</h2>
<%= form_for(@restaurant) do |f| %>
<div class="text-center">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>
<div class="text-center">
  <%= f.label :address %><br>
  <%= f.text_field :address %>
</div>

  <div class="text-center">
  <%= f.label :phone_number %><br>
  <%= f.text_field :phone_number %>
</div>
<div>
<br>
  <%= f.select :category,  Restaurant::CATEGORIES, {include_blank: 'Category'} %>
  <%= f.submit class: "submit-btn" %>
</div>
<% end %>
</div>